# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# unnessesary Jupyter Notebook files
.ipynb_checkpoints

# Project specific files and folders
*.csv
*.json
/Verwaltungseinheiten/
/my_*/
/qgis_projects/