# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# unnessesary Jupyter Notebook files
.ipynb_checkpoints

# Project specific files and folders
*.csv
*.json
/Verwaltungseinheiten/
/my_data/
/my_docs/
/my_scripts/
/vt_caches/
/qgis_projects/